* {
  margin: 0;
  padding: 0;
  font-family: "Otomanopee One", sans-serif;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
}

input {
  width: 250px;
  height: 20px;
  margin: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  width: 250px;
  height: 20px;
  margin: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

textarea:focus,
input:focus {
  outline: none;
}

button {
  padding: 10px;
  background-color: #00c853;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
  color: whitesmoke;
}

button:hover {
  box-shadow: 0px 0px 10px rgb(114, 107, 107);
  cursor: pointer;
}

.todos {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.del-btn {
  margin: 5px;
  background-color: #d41818;
}

.del-btn:hover {
  background-color: #d50000;
}

.todo {
  text-align: center;
  padding: 20px;
  background-color: #00c853;
  width: 300px;
  min-height: 300px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input[type="checkbox"] {
  margin: 5px;
  padding: 0;
  width: 20px;
}

.panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
